h1 {
  color: white;
  text-align: center;
}

body {
  background-color: rgb(152, 199, 230);
  font-size: large;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .divRender {
    margin: 20px;
    text-align:center;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 15px;
  }

  #weatherReport {
    border-radius: 15px;
    border: solid 1px;
    border-color: grey;
    background-color: rgba(29, 101, 255, 0.959);
    padding-left: 20px;
    box-shadow: 5px 5px cornflowerblue;
  }

  #questionBlock {
    border: solid 1px;
    border-color: grey;
    border-radius: 15px;
    background-color: rgba(29, 101, 255, 0.959);
     padding: 60px;
     box-shadow: 5px 5px cornflowerblue;
  }

  #currentDate {
    text-align: center;
    color: white;
  }

  .jumbotron {
    margin-bottom: 10px;
    border: solid 1px;
    border-color: grey;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(48, 48, 48);
  }

  .card {
    border: solid 1px;
    border-color: grey;
    width: 144px;
    background-color:rgba(29, 101, 255, 0.959);
    box-shadow: 5px 5px cornflowerblue;
  }

  .card-body {
    padding: 5px;
  }
  